@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Courier+Prime:wght@400;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: 'Inter', system-ui, -apple-system, sans-serif;
  --font-mono: 'Courier Prime', monospace;

  --color-surface: #f7f9fb;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f2f4f6;
  --color-surface-container: #eceef0;
  --color-surface-container-high: #e6e8ea;
  --color-surface-container-highest: #e0e3e5;
  --color-surface-variant: #e0e3e5;
  --color-surface-bright: #f7f9fb;
  --color-surface-dim: #d8dadc;

  --color-primary: #000000;
  --color-on-primary: #ffffff;
  --color-primary-container: #131b2e;
  --color-on-primary-container: #7c839b;

  --color-secondary: #0058be;
  --color-on-secondary: #ffffff;
  --color-secondary-container: #2170e4;
  --color-on-secondary-container: #fefcff;
  --color-secondary-fixed: #d8e2ff;
  --color-secondary-fixed-dim: #adc6ff;

  --color-navy-900: #0F172A;
  --color-navy-800: #1E293B;

  --color-action-blue: #2563EB;
  --color-outline: #76777d;
  --color-outline-variant: #c6c6cd;
  --color-on-surface: #191c1e;
  --color-on-surface-variant: #45464d;

  --color-warning: #F59E0B;
  --color-error: #EF4444;
  --color-success: #10B981;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-surface);
  color: var(--color-on-surface);
}

